---
layout: default
---

{% assign path = page.url | split: "/" %}
{% assign language = path[1] %}
{% assign i18n = site.data[language] %}
{% assign c = i18n.product.tenants.termsOfService %}

{%- comment -%} <header>
  {% include navbar.html %}
</header> {%- endcomment -%}

<main class='m-5'>

{% if language == 'fr' %}

  <h1>Conditions générales de service</h1>

  <h2>1. Définitions</h2>
  <p>
  {{ site.data.company.app.tenants.name }} (ci-après "Application") est une application mobile et un service qui sont fournis par 
  {{ site.data.company.name }}
  (ci-après "Société"). L'utilisateur de l'Application (ci-après "Utilisateur") confirme avoir lu et compris les présentes conditions et les accepte.
  </p>

  <h2>2. Société responsable</h2>

  <blockquote class='mt-2 ml-2'>
    {{ site.data.company.name }} <br>
    {% for address_line in site.data.company.address %}
      {{ address_line }} <br>
    {% endfor %}
    <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a><br>
    <a href="{{ site.data.company.website }}">{{ site.data.company.website }}</a>   
    {% if site.data.company.company_id %}
      <br>  Numéro IDE: {{ site.data.company.company_id }}
    {% endif %}
  </blockquote>


  <h2>3.
  Responsabilité de la Société
  </h2>
  <h3>3.1.
  Protection des données
  </h3>
  <p>
  Voir <a href="../privacy-policy/">Protection des données</a>.
  </p>

  <h3>3.2. Disponibilité et fiabilité</h3>
  <p>
  La Société fait son possible pour assurer un haut niveau de disponibilité et fiabilité de l'Application ("principe du meilleur effort").
  Cependant, la Société ne garantit pas une disponibilité et une fiabilité permanentes de l'Application.
  L'Utilisateur est conseillé(e) de régulièrement:
  </p>
  <ul>
    <li>mettre à jour l'Application, et</li>
    <li>faire une sauvegarde de son smartphone.</li>
  </ul>

  <h3>3.3. Limitation de responsabilité</h3>
  <p>
  Sous réserve des dispositions légales obligatoires, La Société n'assume aucune responsabilité pour les dommages directs ou indirects causés par l'utilisation de l'Application ou en relation avec l'Application.
  </p>
  <h3>3.4.
  Coût de l'Application
  </h3>
  <p>
  L'utilisation de l'Application est gratuite pour l'Utilisateur.
  </p>

  <h3>3.5. Autres conditions</h3>
  <p>
  La Société peut modifier ses conditions générales de service à tout moment. 

  L'Utilisateur sera informé de ces modifications de manière appropriée. L'Utilisateur peut cesser d'utiliser l'Application à tout moment. En poursuivant l'utilisation de l'Application après notification des modifications des présentes conditions, l'Utilisateur consent expressément à ces modifications.
  </p>


  <h2>4.
  Responsabilité de l'Utilisateur
  </h2>
  <h3>4.1.
  Exactitude des données
  </h3>
  <p>
  L'Utilisateur s'engage à ne s'annoncer que pour des unités d'habitation qu'il/elle a le droit d'occuper, et pour la période où il/elle a le droit d'occuper l'unité en question.
  Tout contrevenant peut faire l'objet de l'effacement de tout ou partie de ses données, ou l'effacement de son compte dans l'Application.
  </p>



  <h2>5. Loi appliquable</h2>
  <p>
  Sous réserve des dispositions légales obligatoires, l'utilisation de l'Application sera exclusivement régie par les lois suisses, Genève (Suisse) étant le for exclusif.
  </p>

{% elsif language == 'en' %}

  <h1>General terms of service</h1>

  <h2>1. Definitions</h2>
  <p>
  {{ site.data.company.app.tenants.name }} (hereinafter "Application") is a mobile application and a service which are provided by {{ site.data.company.name }} (hereinafter "Company"). The user of the Application (hereinafter "User") confirms having read and understood these conditions and accepts them.
  </p>

  <h2>2. Responsible company</h2>
  
  <blockquote class='mt-2 ml-2'>
    {{ site.data.company.name }} <br>
    {% for address_line in site.data.company.address %}
      {{ address_line }} <br>
    {% endfor %}
    <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a><br>
    <a href="{{ site.data.company.website }}">{{ site.data.company.website }}</a>   
    {% if site.data.company.company_id %}
      <br>  Company identifier: {{ site.data.company.company_id }}
    {% endif %}
  </blockquote>



  <h2>3.
  Responsibility of the Company
  </h2>
  <h3>3.1.
  Data protection
  </h3>
  <p>
  See <a href="../privacy-policy/">Data protection</a>.
  </p>

  <h3>3.2. Availability and reliability</h3>
  <p>
  The Company does its utmost to ensure a high level of availability and reliability of the Application ("best effort principle"). However, the Company does not guarantee permanent availability and reliability of the Application. The User is advised to regularly:
  </p>
  <ul>
    <li>update the Application, and</li>
    <li>fmake a backup of your smartphone.</li>
  </ul>

  <h3>3.3. Limitation of Liability</h3>
  <p>
  Subject to mandatory legal provisions, The Company assumes no responsibility for direct or indirect damage caused by the use of the Application or in connection with the Application.
  </p>
  <h3>3.4.
  Cost of the Application
  </h3>
  <p>
  The use of the Application is free for the User.
  </p>

  <h3>3.5. Other conditions</h3>
  <p>
  The Company may modify its general conditions of service at any time. The User will be informed of these changes as appropriate. The User can stop using the Application at any time. By continuing to use the Application after notification of changes to these conditions, the User expressly consents to these changes.
  </p>


  <h2>4.
  Responsibility of the User
  </h2>
  <h3>4.1.
  Data accuracy
  </h3>
  <p>
  The User undertakes to advertise only for housing units that he / she has the right to occupy, and for the period in which he / she has the right to occupy the unit in question. Any offender may be subject to the erasure of all or part of their data, or the erasure of their account in the Application.
  </p>



  <h2>5. Applicable law</h2>
  <p>
  Subject to mandatory legal provisions, the use of the Application will be exclusively governed by Swiss law, Geneva (Switzerland) being the exclusive forum.
  </p>


{% elsif language == 'de' %}

  <h1>Allgemeine Nutzungsbedingungen</h1>

  <h2>1. Definitionen</h2>
  <p>
  {{ site.data.company.app.tenants.name }} (im Folgenden "Anwendung") ist eine mobile Anwendung und ein Dienst, der von {{ site.data.company.name }} (im Folgenden "Unternehmen") bereitgestellt wird. Der Benutzer der Anwendung (im Folgenden "Benutzer") bestätigt, diese Bedingungen gelesen und verstanden zu haben und akzeptiert sie.
  </p>

  <h2>2. Verantwortliches Unternehmen</h2>

  <blockquote class='mt-2 ml-2'>
    {{ site.data.company.name }} <br>
    {% for address_line in site.data.company.address %}
      {{ address_line }} <br>
    {% endfor %}
    <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a><br>
    <a href="{{ site.data.company.website }}">{{ site.data.company.website }}</a>   
    {% if site.data.company.company_id %}
      <br>  Kennung: {{ site.data.company.company_id }}
    {% endif %}
  </blockquote>



  <h2>3.
  Verantwortung des Unternehmens
  </h2>
  <h3>3.1.
  Datenschutz
  </h3>
  <p>
  Siehe <a href="../privacy-policy/">Datenschutz</a>.
  </p>

  <h3>3.2. Verfügbarkeit und Zuverlässigkeit</h3>
  <p>
  Das Unternehmen bemüht sich nach Kräften, eine hohe Verfügbarkeit und Zuverlässigkeit der Anwendung zu gewährleisten ("Best-Effort-Prinzip"). Das Unternehmen garantiert jedoch nicht die ständige Verfügbarkeit und Zuverlässigkeit der Anwendung. Dem Benutzer wird empfohlen, regelmäßig:
  </p>
  <ul>
    <li>die Anwendung zu aktualisieren, und</li>
    <li>eine Sicherungskopie des Smartphones zu erstellen.</li>
  </ul>

  <h3>3.3. Haftungsbeschränkung</h3>
  <p>
  Vorbehaltlich zwingender gesetzlicher Bestimmungen übernimmt das Unternehmen keine Verantwortung für direkte oder indirekte Schäden, die durch die Nutzung der Anwendung oder in Verbindung mit der Anwendung verursacht werden.
  </p>
  <h3>3.4.
  Kosten der Anwendung
  </h3>
  <p>
  Die Nutzung der Anwendung ist für den Nutzer kostenlos.
  </p>

  <h3>3.5. Andere Bedingungen</h3>
  <p>
  Das Unternehmen kann seine allgemeinen Servicebedingungen jederzeit ändern. Der Benutzer wird gegebenenfalls über diese Änderungen informiert. Der Benutzer kann die Verwendung der Anwendung jederzeit beenden. Indem der Nutzer die Anwendung nach Benachrichtigung über Änderungen dieser Bedingungen weiterhin nutzt, stimmt er diesen Änderungen ausdrücklich zu.
  </p>


  <h2>4.
  Verantwortung des Nutzers
  </h2>
  <h3>4.1.
  Datengenauigkeit
  </h3>
  <p>
  Der Nutzer verpflichtet sich, nur für Wohneinheiten zu werben, zu deren Belegung er berechtigt ist, und für den Zeitraum, in dem er berechtigt ist, die betreffende Wohneinheit zu belegen. Jeder Täter kann der Löschung aller oder eines Teils seiner Daten oder der Löschung seines Kontos im Antrag unterliegen.
  </p>



  <h2>5. Anwendbares Recht</h2>
  <p>
  Vorbehaltlich zwingender gesetzlicher Bestimmungen unterliegt die Nutzung der Applikation ausschliesslich schweizerischem Recht, wobei Genf (Schweiz) das ausschliessliche Forum ist.
  </p>


{% endif %}

</main>
