<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>{{ page.title | default: "Equa Residential Services"}}</title>
    <!-- Favicon -->
    <link href="/assets/my/images/favicon.png" rel="shortcut icon">
    <!-- CSS -->
    <link href="/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
    <link href="/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet">
    <!-- Fonts/Icons -->
    <link href="/assets/plugins/font-awesome/css/all.css" rel="stylesheet">
    <link href="/assets/plugins/themify/themify-icons.min.css" rel="stylesheet">

    <!-- My -->
    <link href="/assets/my/css/fontface-avenir-next-regular.css" rel="stylesheet">
    <link href="/assets/my/css/fontface-itc-edwardian-script-regular.css" rel="stylesheet">
    <link href="/assets/my/css/default.css" rel="stylesheet">
</head>
