<!-- navbar -->
<nav class="navbar navbar-sticky"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
    <div class="container">
        <a class="navbar-brand" href="/">
            <h5>
                <span class="brand">Equa</span> <br> 
                <!-- <span class="brand-tail">Residential Services</span> -->
            </h5>
        </a>
        <ul class="nav"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
            {% assign path = page.url | split: "/" %}
            {% assign language = path[1] %}
            {% for dropdown in site.data[language]['menu'] %}
                <li class="nav-item nav-dropdown">
                    <a class="nav-link" href="#">{{ dropdown.title }}</a>
                    <ul class="dropdown-menu">
                        {% for menu_item in dropdown.items %}
                            <li><a href="/{{ language }}{{ menu_item.path }}">{{ menu_item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}


        {% comment %}
            <!-- Dropdown -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="#">Customer advantage</a>
                <ul class="dropdown-menu">
                    <li><a href="/customers/property-managers/">For property managers</a></li>
                    <li><a href="/customers/pricing/">Pricing</a></li>
                </ul>
            </li>

            <!-- Dropdown -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="#">Product features</a>
                <ul class="dropdown-menu">
                    <li><a href="/users/property-managers/">Property manager application</a></li>
                    <li><a href="/users/tenants/">Tenant application</a></li>
                </ul>
            </li>


            <!-- Dropdown -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="#">Company info</a>
                <ul class="dropdown-menu">
                    <li><a href="/company/mission/">Our Mission</a></li>
                    <li><a href="/company/team/">Team</a></li>
                    <li><a href="/company/timeline/">Timeline</a></li>
                    <li><a href="/company/contact/">Contact us</a></li>
                    <li><a href="/company/careers/">Careers</a></li>
                </ul>
            </li>

            <!-- Sub Dropdown -->
            <!-- removed -->						
            
            <!-- Mega Dropdown -->
            <!-- removed -->			
        {% endcomment %}			
            
        </ul><!-- end nav -->
        <!-- Nav Toggle button -->
        <button class="nav-toggle-btn">
            <span class="lines"></span>
        </button><!-- toggle button will show when screen resolution is less than 992px -->
    </div><!-- end container -->
</nav>
<!-- end navbar -->
