---
---
{% comment %}
Template demo at http://mono.flatheme.net/Pages/Services/Services-Classic.html
{% endcomment %}

{% assign path = page.url | split: "/" %}
{% assign language = path[1] %}
{% assign c = site.data[language].customers.pm %}

		<header>
			{% include navbar.html %}
			<!-- Page header -->
			<div class="bg-image parallax" style="background-image: url({{ c.header.image }})">
				<div class="page-title-lg bg-black-07 text-center">
					<div class="container">
						<h1 class="font-weight-light">{{c.header.title}}</h1>
						{% if c.header.breadcrumbs %}
						<nav aria-label="breadcrumb">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">{{c.header.breadcrumbs[0]}}</a></li>
								<li class="breadcrumb-item"><a href="#">{{c.header.breadcrumbs[1]}}</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{c.header.breadcrumbs[2]}}</li>
							</ul>
						</nav>
						{% endif %}
					</div><!-- end container -->
				</div><!-- end page-title -->
			</div><!-- end bg-image -->
			<!-- end Page header -->
		</header>

		<!-- About section -->
		{% if c.about %}
		<div class="section">
			<div class="container">
				<div class="row text-center">
					{% for about_item in c.about %}
					<div class="col-12 col-md-4">
						<img src="{{ about_item.image }}" alt="">
						<h5 class="margin-top-30">{{about_item.title}}</h5>
						<p>
							{{ about_item.body }}
							{% if about_item.link %}
								<br>
								<a href="/{{ language }}{{ about_item.link }}">More ➤</a>
							{% endif %}
						</p>
					</div>
					{% endfor %}
					{% comment %}
					<div class="col-12 col-md-4">
						<img src="../../assets/images/col-3.jpg" alt="">
						<h5 class="margin-top-30">easier for tenants</h5>
						<p>
								 "->features". 
							
						</p>
						<p>payable by tenants ->pricing</p>
					</div>
					<div class="col-12 col-md-4">
						<img src="../../assets/images/col-3.jpg" alt="">
						<h5 class="margin-top-30">Comfortable to use</h5>
						<p>ERP integration "-> supported software"</p>
					</div>
					{% endcomment %}
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		{% endif %}
		<!-- end About section -->

		<!-- Services section -->
		{% if c.services %}
		<div class="section border-top">
			<div class="container">
				<div class="section-title text-center">
					<h3>{{ c.services.title }}</h3>
				</div>
				<div class="row services-layout-2">
					{% for item in c.services.items %}
					<!-- Icon text box 1 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							{% if item.icon %}
								<i class="{{ item.icon }} text-dark"></i>
							{% else %}
								<i class="ti-world text-dark"></i>
							{% endif %}
							<h6 class="heading-uppercase">{{ item.title }}</h6>
							<p>{{ item.body }}
								{% if item.link %}
									<br>
									<a href="/{{ language }}{{ item.link }}">More ➤</a>
								{% endif %}
							</p>
						</div>
					</div>
					{% endfor %}
					{% comment %}
					<!-- Icon text box 2 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							<i class="ti-world text-dark"></i>
							<h6 class="heading-uppercase">Heading</h6>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Icon text box 3 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							<i class="ti-world text-dark"></i>
							<h6 class="heading-uppercase">Heading</h6>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Icon text box 4 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							<i class="ti-world text-dark"></i>
							<h6 class="heading-uppercase">Heading</h6>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Icon text box 5 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							<i class="ti-world text-dark"></i>
							<h6 class="heading-uppercase">Heading</h6>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Icon text box 6 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="icon-left-box icon-3xl">
							<i class="ti-world text-dark"></i>
							<h6 class="heading-uppercase">Heading</h6>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					{% endcomment %}
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		{% endif %}
		<!-- end Services section -->

		<!-- Testimonial -->
		{% if c.testimonials %}
		<div class="section border-top">
			<div class="container">
				<div class="owl-carousel" data-owl-nav="true" data-owl-dots="false" data-owl-items="1">
					{% for item in c.testimonials %}
					<!-- Testimonial box 1 -->
					<div class="testimonial-box">
						<p class="margin-bottom-30">“{{ item.quote }}”</p>
						<img class="margin-bottom-20" src="{{ item.image }}" alt="">
						<h5 class="no-margin">{{ item.name }}</h5>
						<span>{{ item.role }}</span>
					</div>
					{% endfor %}
					{% comment %}
					<!-- Testimonial box 2 -->
					<div class="testimonial-box">
						<p class="margin-bottom-30">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
						<img class="margin-bottom-20" src="../../assets/images/img-circle-small.jpg" alt="">
						<h5 class="no-margin">Johnny Doe</h5>
						<span>CEO - Company</span>
					</div>
					<!-- Testimonial box 3 -->
					<div class="testimonial-box">
						<p class="margin-bottom-30">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
						<img class="margin-bottom-20" src="../../assets/images/img-circle-small.jpg" alt="">
						<h5 class="no-margin">Johnny Doe</h5>
						<span>CEO - Company</span>
					</div>
					{% endcomment %}
				</div><!-- end owl-carousel -->
			</div><!-- end container -->
		</div>
		{% endif %}
		<!-- end Testimonial -->
