body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.my-bgimg-1, .my-bgimg-2, .my-bgimg-3 {
    position: relative;
    opacity: 1.0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.my-bgimg-1 {
    background-color: rgb(50, 86, 126);
    background-image: url("../../../../assets/images/AdobeStock_163432157.jpeg");
    height: 100%;
}

.my-caption { 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.my-caption span.my-border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

