body {
    font-family: "Avenir Next Regular";
}

.prices-box .price h1:before {
    content: "";
    font-family: "Avenir Next Regular";
}
.my-button {
    background-color: rgba(34,	138	,230	,1) !important;
    /* background-color: rgba(154,139,95,0.8) !important; */
}

.my-text-on-image {
}

.my-capitalize {
    text-transform: none !important;
}
