
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=96b8782d-650b-4b1d-8477-3e7b843419ec&fontids=1366478");
    @font-face{
        font-family:"Avenir Next W06 Regular";
        src:url("Fonts/1366478/677ce018-f09d-4e73-9713-bb2d8fd47896.eot?#iefix");
        src:url("Fonts/1366478/677ce018-f09d-4e73-9713-bb2d8fd47896.eot?#iefix") format("eot"),url("Fonts/1366478/8b1d5802-f86f-4cc1-95a8-261eabda1d22.woff2") format("woff2"),url("Fonts/1366478/30306912-4758-4c5f-8cd7-76a816c2e7aa.woff") format("woff"),url("Fonts/1366478/00b0b7d9-bb66-4f91-aac2-82571a7a3b61.ttf") format("truetype");
    }
