
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=96b8782d-650b-4b1d-8477-3e7b843419ec&fontids=1122971");
    @font-face{
        font-family:"ITCEdwardianScriptW04-R";
        src:url("Fonts/1122971/262189ee-19f2-4699-8755-010cf6b232e6.eot?#iefix");
        src:url("Fonts/1122971/262189ee-19f2-4699-8755-010cf6b232e6.eot?#iefix") format("eot"),url("Fonts/1122971/6171e963-bc3b-4468-9125-725e27bd1415.woff2") format("woff2"),url("Fonts/1122971/1a213fc2-fab4-4f3c-9d85-e814fd4e1ee3.woff") format("woff"),url("Fonts/1122971/779c285f-a4a1-4931-84d4-f7f7328ac9f0.ttf") format("truetype");
    }
